{
    "tabWidth": 4,
    "printWidth": 99,
    "semi": true,
    "singleQuote": false,
    "useTabs": false,
    "overrides": [
        {
        "files": ".ts",
        "options": {
            "semi": true
        }
        }
    ]
}
